@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* Slight slide-up effect */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 0.8s ease-in-out forwards; /* Smooth fade-in effect */
}

.bg-slate-200 {
    opacity: 0; /* Make the card wrapper invisible initially */
}

.bg-slate-200.visible {
    opacity: 1; /* Once it becomes visible, apply opacity */
}
